{% extends "base.html" %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="{% static 'js/main.js'%}"></script>

<div class="login-page">
  <div class="form">
    <div class="container">
      <div class="login-box">
        <div class="login-name">
          <h1>Login</h1>
          <div class="underline-name"></div>
        </div>

        <form class="login-form" method="post">
          {% csrf_token %}
          <div class="input-box">
            <div class="inputs">
              <input
                type="text"
                placeholder="Enter your username"
                name="username"
                required
              />
              <div class="underline-input"></div>
            </div>

            <div class="inputs">
              <input
                type="password"
                placeholder="Enter your Password"
                name="password"
                required
              />
              <div class="underline-input"></div>
            </div>

            <div class="submit-button">
              <input type="submit" value="Continue" />
            </div>
          </div>
        </form>
        <a class="btn btn-info mt-3" href="{% url 'password_reset'%}"
        >Reset Password</a
      >
        <div class="text">or connect with Social Media</div>

        <div class="facebook-btn">
          <button class="btn">
            <i class="bx bxl-facebook"></i>
            <a href="{% url 'social:begin' 'facebook' %}"
              >Login with Facebook</a
            >
          </button>
          <a class="btn btn-success mt-3" href="{% url 'registro'%}"
            >Register</a
          >
        </div>
        {% if error %}
        <p style="color: red">{{ error }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
